---
import ExperienceCard from '@/components/ExperienceCard.astro';
import { experiences } from '@/data';
---

<section class="mx-auto flex items-center justify-between pt-8 md:pt-12 lg:pt-24">
	<div class="flex w-full flex-col gap-y-4">
		<h2
			class="mb-2 border-b border-primary pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl"
		>
			Work Experience
		</h2>
		<ol class="relative ml-1 border-s border-border">
			{
				experiences.map((experience) => (
					<ExperienceCard
						companyName={experience.companyName}
						companyUrl={experience.companyUrl}
						timeRange={experience.timeRange}
						jobTitle={experience.jobTitle}
						description={experience.description}
					/>
				))
			}
		</ol>
	</div>
</section>
