---
import ProjectCard from '@/components/ProjectCard.astro';
import { projects } from '@/data';
---

<section class="mx-auto flex max-w-3xl items-center justify-between pt-8 md:pt-12 lg:pt-24">
	<div class="flex w-full flex-col gap-y-4">
		<h2 class="border-b border-primary pb-2 text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">
			Projects
		</h2>

		<div class="grid gap-4 sm:grid-cols-2">
			{
				projects.map((project) => (
					<ProjectCard
						title={project.title}
						description={project.description}
						image={project.image}
						tags={project.tags}
						siteUrl={project.siteUrl}
					/>
				))
			}
		</div>
	</div>
</section>
